/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}


 ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
 }

 .first-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 110%;
  /* or 57px */
  color: #212121;
 }

 .second-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  color: #000000;
 }

.third-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 130%;
  /* or 49px */
  color: #212121;
}

.third-2-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  /* identical to box height, or 42px */
  color: #212121;
}

.fourth-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  /* or 34px */
  color: #212121;
}

.fifth-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.title-bank {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  color: #424242;
}

.text-info-card-top {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  /* identical to box height, or 39px */
  color: #212121;
  border-bottom: 1px solid #3A95FF;
}

.text-info-card-bottom {  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */
  text-align: center;
  color: #424242;
  margin-top: -20px;
}

.text-getting {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */
  text-align: center;
  color: #212121;
}

.feedback {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  text-decoration-line: underline;
  color: #424242;
}

.debet-cards-text {
    font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 200%;
  /* or 40px */
  color: #424242;
}

.text-footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  color: #424242;
}

.color-blue {
  color: #3A95FF;;  
}

.btn-1{
  padding: 17px 26px;
  background: #3a95FF;
  border-radius: 3px;
  margin-right: 37px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #FFFFFF;
  text-decoration: none;
}

.btn-2 {
  padding: 17px 51px;
  border: 1px solid #3A95FF;
  border-radius: 3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #3A95FF;
  text-decoration: none;
 }

.position-1 {
  position: relative;
  top: 34px;
  left: 34px;
}

.position-2 {
  position: relative;
  top: 100px;
  left: 278px;
}

.marg-l-37 {
  margin-left: 37px;
}

/*   --------------------------------
      Header
    ---------------------------------- */

.header {
  width: 100%;
}

.header-container {
  width: 100%;
}

.top-menu {
  width: 100%;
  height: 67px;
  border-bottom: 1px solid #DEDEDE;
}

.top-menu-container {
  width: 1140px;
  height: 67px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo {
  margin-right: 25px;
}

.top-menu-left {
  display: flex;
  width: 100%;
}

.top-menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.top-menu-list a {
  margin-right: 12px;
  margin-left: 12px;
}

.top-menu-right{
  display: flex;
    
}

.top-menu-list-right {
  width: 340px;
  display: flex;
  justify-content: space-between;
}

.top-menu-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */
  color: #424242;
  text-decoration: none;
}

.top-menu-text-banks {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */
  color: #424242;
}

.top-menu-text-online{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */
  color: #3A95FF;
  text-decoration: none;
}

.main-menu {
  width: 100%;
  height: 67px;
  border-bottom: 1px solid #DEDEDE;
 }

 .main-menu-container {
  width: 1140px;
  margin: 0 auto;
  height: 100%;
 }

.main-menu-list {
  display: flex;
  height: 73px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.main-menu-list a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  /* identical to box height, or 18px */
  color: #424242;
  text-decoration: none;
}

/*   -----------------------------------
      index.html
      ----------------------------------- */

.banner{
  display: flex;
  justify-content: center;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.banner-container {
  width: 1140px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.text-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.offers {
  display: flex;
  flex-direction: row;
  width: 1140px;
  height: 830px;
  margin-top: 70px;
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.offers-container { 
  display: flex;
  width: 1140px;
  flex-wrap: wrap;
} 

.sections-offers {
  margin: 15px;
  width: 45%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  background-color: #EFF2F5;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

}

.text-thebest {
  margin-top: 24px;
  margin-left: 24px;
}

.text-thebest a {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */
  color: #424242;
}

.card {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #EFF2F5;
}

.credit-card {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 500px;
  margin-top: 138px;
  margin-bottom: 137px;
  background: #E0E5EA;
  box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25), 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.description-card {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;

}


.conditions-card {
  display: flex;
  margin-left: 90px;
}

.btns-2 {
  display: flex;
  margin-top: 20px;
  margin-left: 90px;
}


.card-creditCard {
  width: 360px;
  height: 235px;
  margin-top: 138px;
  margin-left: 30px;
  background: #F7F7F7;
  box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25), 5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-bottom: 5px solid #3A95FF;
}

.card-debetCard {
  width: 360px;
  height: 235px;
  margin-top: 27px;
  margin-left: 30px;
  background: #F7F7F7;
  box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25), 5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-bottom: 5px solid #3A95FF;
}

.getting-card {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.getting-container {
  height: 280px;
  width: 1140px;
  margin-top: 70px;
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;

}

.getting {
  position: absolute;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 36px;
  margin-top: 70px;
}

.limit {
  margin-right: 21px;
}

.stavka,
.itog {
  margin-left: 21px;
  margin-right: 21px;
}

.icon-getting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*   ------------------------------
      debet-cards.html
      ------------------------------- */

.debet-cards-container {
  width: 100%;
  height: 1600px;
  display: flex;
  justify-content: center;
}

.debet-cards {
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rubl-card,
.travel-card {
  display: flex;
  height: 402px;
  background: #EFF2F5;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.ph-1 {
  background-image: url(rubl-card.png);
  background-repeat: no-repeat;
  background-position: left;

} 

.super-card {
  display: flex;
  background: #EFF2F5;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-bottom: 70px;
}

.description-debet-cards {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.description-rubl-card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 550px;

}

.btns-3 {
  margin-top: 40px;
 }

/*   ------------------------------
      footer
      ------------------------------- */

.footer {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background: #EFF2F5;
}

.footer-container {
  display: flex;
  width: 1140px;
  height: 160px;
  justify-content: space-between;
  align-items: center;

}

.string-1,
.string-2,
.string-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 37px;

}